<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="ZendSearch Test Suite">
            <directory>./ZendSearch</directory>
        </testsuite>
        <testsuite name="SearchOnly">
            <file>./ZendSearch/Lucene/SearchTest.php</file>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>
</phpunit>
